*{
    font-family: 'Roboto', sans-serif;}
:root {
    --color-snow          : #FFF7F8;
    --color-turquoise-blue: #80FFE8;
    --color-dark-purple   : #320A28;
    --color-tyrian-purple : #511730;
    --color-lapis-lazuli  : #1C5D99;
    --color-white         : #ffffff;
}

body {
    background: var(--color-snow);
    margin : 0;
    border : 0;
    padding: 0;
}